/* -----common------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-content {
  width: 1380px;
  max-width: calc(100% - 80px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul li {
  list-style-type: none;
}

.btns .btn {
  font-weight: 600;
  font-size: 30px;
  color: #d7d8da;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.btns .btn:hover {
  color: rgb(51, 48, 49);
}

/* -----header-------- */

.wrapper {
  width: 100%;
  height: 100%;
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: white;
}

.header .body-header {
  padding: 0 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.others .others-list,
.menu .menu-list {
  display: inline-flex;
  align-items: center;
}

.menu .menu-list > li > a {
  padding: 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.menu .menu-list a {
  color: #221f20;
}

.menu-list .sub-menu3 > a,
.menu-list .sub-menu4 > a {
  color: #ff0000;
}

.menu .menu-list > li:hover > a {
  color: #ac2f33;
}

.header .logo {
  padding-top: 2px;
  width: 140px;
  height: auto;
  margin-right: 80px;
}

.others .others-list {
  position: relative;
  margin-right: 30px;
}

.others-list .icon1 {
  position: relative;
  margin-right: 15px;
  opacity: 1;
  visibility: visible;
}

.others-list .icon1 [type="text"] {
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #e7e8e9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  padding-left: 40px;
  padding-right: 50px;
  outline: none; /* loại bỏ viền khi focus */
}

.others-list .icon1 .fa-search {
  position: absolute;
  top: 13px;
  left: 10px;
  color: #6c6e70;
}
.others-list .icon1:hover .quick-search {
  opacity: 1;
  visibility: visible;
  top: 49px;
}

.quick-search {
  position: absolute;
  background: #fff;
  border: 1px solid #e7e8e9;
  border-radius: 4px;
  padding: 24px 24px 16px;
  width: 440px;
  top: 30px;
  z-index: 9;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  opacity: 0;
  visibility: hidden;
}

.quick-search h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 12px;
}

.title-seach {
  margin-left: 10px !important;
}

.item-side-size {
  margin-bottom: 20px;
}

.item-side-size .item-sub-title {
  font-size: 13px !important;
  border: 1px solid #e7e8e9;
  border-radius: 8px 0px;
  display: inline-block;
  margin: 4px;
  line-height: 1;
}

.others-list .number-cart {
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  top: 0;
}

.others .others-list a {
  color: #515151;
  padding: 10px;
  font-size: 17px;
}

.slide-show .nav-info {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px;
}

.slide-show .nav-info a {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding: 12px 0;
}

.nav-info .left-info {
  width: 100%;
  background-color: #d73831;
}
.nav-info .center-info {
  background-color: #dc633a;
  width: 100%;
}
.nav-info .right-info {
  background-color: #ac2f33;
  width: 100%;
}

/* ------menu----- */

.list-item .sub-menu {
  background-color: #fff;
  border: 1px solid #e7e8e9;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  gap: 30px;
  top: 80px;
  transition: opacity 0.3s ease-in-out, top 0.3s ease-in-out;
  pointer-events: none; /* Để tránh việc người dùng tương tác với sub-menu khi nó bị ẩn */
}

.cat-sub-menu,
.list-item .list-submenu,
.sub-menu > li > a {
  line-height: 2;
}

.sub-menu1 .sub-menu,
.sub-menu2 .sub-menu,
.sub-menu3 .sub-menu,
.sub-menu4 .sub-menu,
.sub-menu5 .sub-menu {
  display: flex;
  width: 100%;
  left: 0;
}

.sub-menu3 .item-list-submenu {
  margin-top: -25px;
}

.sub-menu4 .sub-menu {
  padding-bottom: 20px;
  padding-left: 30px;
}
.sub-menu5 .sub-menu {
  display: block;
  padding: 10px 60px 30px;
}

.sub-menu4 .sub-menu,
.sub-menu5 .sub-menu,
.sub-menu6 .sub-menu {
  font-size: 14px;
  font-weight: 600;
}

.sub-menu6 .sub-menu {
  padding: 0 20px 20px;
}

.list-item:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  top: 55px;
  z-index: 1;
  pointer-events: auto;
}

.list-item::after {
  content: "";
  width: 15%;
  height: 20px;
  background-color: transparent;
  display: block;
  position: absolute;
  z-index: 0;
  top: 35px;
}

.sub-menu .cat-sub-menu {
  font-weight: 600;
  font-size: 14px;
}

.list-item .list-submenu {
  display: flex;
  padding: 30px 0;
  gap: 30px;
  font-size: 14px;
}

.sub-menu .list-submenu h3 {
  font-size: 14px;
  font-weight: 600;
}

/* ---------slide-show--------- */

.slide-show .main-content {
  position: relative;
  padding: 0 10px;
}

.slide-show .list-images {
  display: flex;
  overflow: hidden;
  border-radius: 86px 0;
  margin-right: 10px;
}

.list-images .mySlides {
  width: 100%;
  flex-shrink: 0;
  transition: 0.5s ease;
}

.mySlides img {
  width: 100%;
  height: 78vh;
  object-fit: cover;
}

/* .slide-show .wrapper::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 73vh;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0 0 80px;
  top: 0;
} */

.slide-show .wrapper::after {
  position: absolute;
  content: "";
  width: 6%;
  height: 76vh;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 80px;
  bottom: 3.7629px;
  right: 10px;
  z-index: -1;
}

.btns .btn-left,
.btns .btn-right {
  margin-top: 70px;
}

.btn-left-prd,
.btns .btn-left {
  left: 5px;
}

.btn-right-prd,
.btns .btn-right {
  right: 15px;
}

.btns .btn-left-prd,
.btns .btn-right-prd {
  font-size: 25px;
}

.dots {
  position: absolute;
  bottom: 20px;
  gap: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  cursor: pointer;
}

.dots .dot {
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.active {
  background-color: #fff;
}

/* ---home-new-prodcut----*/
.home-new-prd .main-content {
  padding: 40px 0;
}

.title-section {
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  color: #221f20;
}

.exclusive-tabs .exclusive-head {
  text-align: center;
}

.tab.active {
  color: #221f20;
  border-bottom: 2px solid #221f20;
}

.exclusive-head > ul > li {
  margin: 30px;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
}

.exclusive-tabs ul li {
  color: #6c6d70;
  cursor: pointer;
}

.row-prd {
  position: relative;
  width: 100%;
}

.product-list {
  display: none;
  overflow: hidden;
  gap: 10px;
}

.product-list.active {
  display: flex;
  overflow: hidden;
  gap: 10px;
}

.product {
  width: calc((100% - 40px) / 5);
  flex-shrink: 0;
  position: relative;
  padding: 0 10px;
  transition: transform 0.3s ease-in-out;
}

.thumb_prd img {
  width: 100%;
}

.thumb_prd {
  position: relative;
}

.ticket-news {
  background: url(../assets/img/bg_news.png) no-repeat center / cover;
  padding: 7px 18px 7px 15px;
  text-transform: uppercase;
}

.info-ticket {
  position: absolute;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  top: 0;
  left: 3px;
  z-index: 3;
}

.info-ticket:after {
  content: "";
  position: absolute;
  border-top: 17px solid #ac2f33;
  border-left: 7px solid transparent;
  bottom: -16px;
  left: 0px;
  z-index: -1;
}

.badget span span {
  position: absolute;
  font-size: 8px;
  line-height: 12px;
}

.badget {
  z-index: 1;
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 13px 12px 13px 8px;
  top: 8px;
  right: 18px;
}

.ivymoda.badget {
  background: url(../assets/img/ivymoda.png) no-repeat center / cover;
}

.badget.badget_02 {
  background: url(../assets/img/bg-badget.png) no-repeat center / cover;
}

.hover-owl-lazy {
  opacity: 0;
  position: absolute;
  left: 0;
}

.thumb_prd:hover .hover-owl-lazy {
  opacity: 1;
}

.list-color {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px 10px;
}

.list-color .favourite {
  cursor: pointer;
  font-size: 18px;
  color: #3f3f3f;
}

.list-color ul {
  display: flex;
  gap: 10px;
}

.list-color ul > li img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.checked {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checked::after {
  content: "✓";
  color: rgb(17, 245, 139);
  position: absolute;
  bottom: 3px;
}

.title-prd > a {
  color: #57585a;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 10px;
}

.title-prd > a:hover {
  color: #ac2f33;
}

.price-prd {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3f3f3f;
  padding: 10px 0;
}

.price-prd span {
  font-weight: 600;
}

.price-prd span:nth-of-type(2) {
  color: #a8a9ad;
  font-size: 12px;
  margin-left: -50px;
  text-decoration: line-through;
}

.price-prd .bx-shopping-bag {
  width: 35px;
  height: 35px;
  border-radius: 8px 0;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 19.5px;
  position: relative;
}

.list-size {
  position: absolute;
  bottom: 37px;
  right: -1px;
  background: #ffffff;
  border: 1px solid #e7e8e9;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.list-size ul li button {
  width: 110px;
  outline: 0;
  background-color: transparent;
  border: 2px solid transparent;
  font-weight: 600;
  line-height: 24px;
  color: #221f20;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 12px 0;
  font-size: 16px;
}

.bx-shopping-bag.active .list-size {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.price-prd .bx-shopping-bag:hover,
.price-prd .bx-shopping-bag.active {
  background-color: transparent;
  border: 1px solid #ccc;
}

.list-size ul li:hover button {
  border: 2px solid #87ceeb;
  border-radius: 8px;
}

.row-prd > .btns .btn {
  top: 39%;
}
.link-prd {
  text-align: center;
  padding: 20px 0 0;
}

.link-prd .all-prd {
  color: #221f20;
  border: 1px solid #221f20;
  padding: 13px 24px;
  line-height: 20px;
  border-radius: 24px 0;
  background-color: #fff;
  position: relative;
}

.all-prd:hover:after,
.link-prd .all-prd:hover,
.register-form .form-submit:hover {
  color: #fff;
  background-color: #221f20;
}

.all-prd:hover:after,
.btn-submit:hover::after {
  transform: translateX(-5px);
  transition: transform 0.3s ease-in-out;
}

.link-prd .all-prd::after {
  content: "";
  height: 2vh;
  border: 1px solid #dcdcdc;
  padding: 13px 24px;
  border-radius: 24px 0;
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 89px;
  box-shadow: 0 0 1px #6c6d70;
}

.seller {
  background: url(../assets/img/bg-seller.png) no-repeat center / cover;
  padding: 8px 18px 8px 15px;
}

/* ---home-promote--- */

.home-promote {
  padding: 40px 0 20px;
}

.home-promote .title-section {
  text-align: center;
  letter-spacing: 2px;
  font-size: 28px;
  line-height: 32px;
  color: #221f20;
  padding: 0 0 40px;
}
.list-promote {
  display: flex;
  margin: 0 0 40px;
  padding: 0 -15px;
  justify-content: center;
}
.item-promote {
  padding: 0 15px;
  width: calc(100% / 4);
}

.promote-image {
  border-radius: 32px 0px;
  width: 100%;
  flex-shrink: 0;
}

.slider-content {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-content .owl-stage-outer {
  display: flex;
  gap: 30px;
}

.item-slider-ads {
  flex-shrink: 0;
  width: calc((100% - 30px) / 2);
}

.owl-stage-outer .banner-pc {
  width: 100%;
  border-radius: 50px 0 50px 0;
}

.owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.owl-next::before {
  content: "";
  width: 80%;
  height: 2.2px;
  background-color: #dddee1;
  position: absolute;
  left: 10%;
  bottom: 12%;
  pointer-events: none;
}

.owl-nav .btn {
  color: #dddee1;
  transition: 0.5s;
  cursor: pointer;
  font-size: 40px;
  padding: 20px 0;
}

.owl-nav .btn:hover {
  color: rgb(51, 48, 49);
}

.owl-next .bx {
  transform: rotate(180deg);
}

/* ----footer----- */

.footer {
  background: #5d5c5c;
  color: #fff;
  position: relative;
  padding-top: 15px;
}

.footer::before {
  content: "";
  width: 100%;
  border-bottom: 1px solid rgb(212, 211, 211);
  position: absolute;
  top: 14%;
}

.footer::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid rgb(212, 211, 211);
  position: absolute;
  bottom: 12%;
}

.footer .movetotop-content {
  text-align: center;
  padding: 0 0 80px;
}

.footer .movetotop {
  color: #dfdede;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.footer .movetotop .fa-solid {
  display: block;
  font-size: 2.2rem;
  padding-bottom: 10px;
}

.maint-footer {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.left-footer .logo img {
  background: linear-gradient(45deg, #fff, 70%, #221f20);
  padding: 7px 24px;
  border-radius: 4px;
  margin-left: 3px;
  z-index: 0;
  position: relative;
  box-shadow: 0 25px 40px rgb(51, 48, 49);
}

.left-footer .list-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin-left: -30px;
  padding: 20px 0;
}

.left-footer .list-social img {
  width: 35px;
  height: 35px;
}

.left-footer .hotline span {
  background: #221f20;
  border-radius: 16px 0px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  color: #f7f8f9;
  padding: 12px 24px;
}

.left-footer .hotline span:hover {
  color: #221f20;
  background-color: #fff;
  box-shadow: 0 20px 10px rgb(51, 48, 49);
}

.center-footer h3 {
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.center-footer {
  display: flex;
  gap: 50px;
  margin: 0 20px;
}

.center-footer .column a {
  color: #fff;
  line-height: 2.4;
  position: relative;
}

.center-footer .column a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 7px;
  width: 0;
  height: 1px;
  background-color: rgb(180, 179, 179);
  transition: width 0.3s ease;
}

.center-footer .column a:hover::after {
  width: 100%;
}

.right-footer {
  width: 24%;
}

.right-footer .register-form {
  border: 6px solid #e7e8e9;
  border-radius: 56px 0px;
  background: #ffffff;
  color: #221f20;
}

.right-footer .title-footer {
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

#frm_subscribe {
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

#frm_subscribe::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: #c7c5c5;
  position: absolute;
  bottom: 0;
}

#email_subscribe {
  border: none;
  outline: none;
}

.register-form form .form-submit {
  background: #fff;
  border: 1px solid #221f20;
  padding: 12px 27px;
  border-radius: 24px 0px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  color: #221f20;
  position: relative;
  z-index: 1;
}

.btn-submit::after {
  content: "";
  height: 35%;
  padding: 12px 27px;
  border: 1px solid #aeabab;
  border-radius: 24px 0px;
  position: absolute;
  right: 14px;
  bottom: 1px;
}

.info-right-ft .title-footer {
  padding: 35px 0 15px;
  text-shadow: 1px 12px 15px rgb(9, 9, 9);
}

.info-right-ft ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-right-ft ul img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.footer .coppy {
  margin-top: 80px;
  text-align: center;
  padding: 30px;
  text-shadow: 0 10px 10px rgb(51, 48, 49);
}

/* ---overplay--- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 5;
}

/* ----product----- */
.container {
  width: 100%;
  padding-top: 80px;
}

.container .product_detail {
  width: 100%;
}

.product_detail_head {
  padding-left: 14px;
}

.breadcrumb_list {
  width: 100%;
  border-top: 1px solid #edecec;
  border-bottom: 1px solid #f6f6f6;
}

ol.breadcrumb_list {
  display: flex;
  list-style-type: none;
  padding: 20px 10px;
  gap: 15px;
  font-size: 14px;
}

li.breadcrumb_item a {
  color: #221f20;
}

li.breadcrumb_item:first-child a {
  color: #6c6d70;
}

li.breadcrumb_item:nth-child(2) a::before {
  content: "–";
  padding-right: 15px;
}

.product_detail_head li.breadcrumb_item:nth-child(2) a::after {
  content: "–";
  padding-left: 15px;
}

.product-detail_body .row {
  display: flex;
  padding: 40px 0;
}

.product-detail__gallery {
  display: flex;
  padding: 0 30px;
}

.product-gallery__slide--big {
  overflow: hidden; /* Đảm bảo hình ảnh tràn ra ngoài */
}

.product-gallery__slide--big ._thumb_ctgr {
  max-width: 36vw;
  height: 100%;
  object-fit: cover;
  transition: all 0.03s ease;
}

.product-gallery__slide--big ._thumb_ctgr:hover {
  transform: scale(2);
  transform-origin: 50% 50%; /* zoom ảnh từ vị trí giữa */
}

.product-gallery__slide--small {
  padding: 0 10px;
  position: relative;
  display: flex;
}

.slide_shower_small {
  display: flex;
  align-items: center;
}

.slide_shower_small .list_images {
  height: 90vh;
  overflow: hidden;
}

.list_images .thumb_ctgr {
  object-fit: cover;
  width: 7vw;
  margin: 1vh;
  user-select: none; /* Ngăn việc chọn phần tử */
}

.product-gallery__slide--small .swiper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #ccc;
}

.product-gallery__slide--small .swiper:hover {
  color: #221f20;
}

.product-gallery__slide--small .swiper-nav-prev {
  top: 25px;
}

.product-gallery__slide--small .swiper-nav-next {
  bottom: 25px;
}

.product-detail__information {
  padding-left: 80px;
}

.product-detail__information h1 {
  padding: 10px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  color: #d10a0a;
  text-transform: uppercase;
}

.product-detail__sub-info {
  display: flex;
  gap: 30px;
  color: #6c6d70;
  padding: 20px 0;
}

.product-detail__sub-info .list_star {
  color: rgba(240, 190, 9, 0.932);
}

.product-detail__price {
  display: inline-block;
  position: relative;
}

.product-detail__price b {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ff0000;
}

.product-detail__price > span {
  padding-left: 10px;
  text-decoration: line-through;
  color: #6c6d70;
}

.product-detail__price .product-detail__price-sale {
  background-color: #dc633a;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #f7f8f9;
  position: absolute;
  left: calc(100% + 10px);
  top: -20%;
  padding: 4.5px 9px;
}

.product-detail__color p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #221f20;
  margin-bottom: 0;
  padding: 20px 0 19px;
}

.product-detail__color ul {
  display: inline-block;
  padding-bottom: 20px;
}

.product-detail__color img {
  width: 20px;
  height: 20px;
  border-radius: 999px;
}

.product-detail__size label span {
  width: 48px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e8e9;
  text-transform: uppercase;
  position: relative;
  color: #6c6d70;
}

.product-detail__size__input {
  margin-left: -4px;
}
.product-detail__size__input input {
  border: none;
  outline: none;
  -webkit-appearance: none; /* Loại bỏ kiểu dáng mặc định trên WebKit */
}

.product-detail__size__input .slash::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 142%;
  top: -20.710678%;
  display: block;
  background: #6c6d70;
  left: 50%;
  transform: translate(-50%, 0) rotate(57deg);
}

.product-detail__size .size_product span {
  color: #3f3f3f;
  font-size: 13px;
  padding: 20px 0;
  display: inline-block;
}

.product-detail__size .size_product i {
  transform: rotate(-45deg);
  margin-right: 5px;
}

.container {
  background-color: green;
  position: relative;
}

.fancybox-stage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #fff;
  z-index: 3;
}

.fancybox-stage .exclusive-content {
  display: none;
}
.fancybox-stage .exclusive-content.active {
  display: block;
}

.fancybox-stage .exclusive-tab {
}

.fancybox-stage table .title-table,
.fancybox-stage .title-table-size {
  color: #221f20;
  font-weight: 600;
}

.fancybox-stage .title-table-size {
  padding-top: 90px;
  text-align: center;
  font-size: 33px;
  line-height: 32px;
  margin-bottom: 10px;
}

.fancybox-stage table .title-table {
  font-size: 20px;
  padding: 40px 18px;
  line-height: 30px;
  background-color: #f9f9f9;
}

.fancybox-stage table th,
.fancybox-stage table td {
  text-align: left;
  padding: 22px;
  border-bottom: 1px solid #dedede;
  color: #6c6d70;
}

.exclusive-content {
  padding: 15px 50px 150px;
}

.exclusive-content .row:first-child {
  border-top: 1px solid #dedede;
}

.exclusive-content .row {
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #fff;
  font-weight: bold;
}

td {
  background-color: #fff;
}

/* Header for table sections */

tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  th,
  td {
    padding: 8px;
  }
}

.product-detail__quantity {
  padding: 12px 0 22px;
}

.product-detail__quantity,
.product-detail__quantity-input {
  display: flex;
  align-items: center;
  color: #6c6d70;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0;
}

.product-quantity,
.product-detail__quantity-input {
  border-radius: 16px 0px;
  overflow: hidden;
}

.product-quantity {
  cursor: pointer;
  padding: 15px 20px;
  user-select: none;
  border: 1px solid #e3e3e3;
}

.product-detail__quantity p {
  margin-right: 25px;
}

.product-detail__quantity input[type="number"] {
  -webkit-appearance: none; /* Đối với Chrome và Safari */
  -moz-appearance: textfield; /* Đối với Firefox */
  appearance: none; /* Đối với các trình duyệt khác */
  border: none;
  outline: none;
  text-align: center;
  width: 50px;
}

/* Để loại bỏ mũi tên cho các trình duyệt cũ hơn */
.product-detail__quantity input[type="number"]::-webkit-inner-spin-button,
.product-detail__quantity input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Loại bỏ mũi tên */
  margin: 0;
}

.product-detail__quantity .input-wrapper {
  position: relative;
}

.product-detail__quantity .input-wrapper::before {
  content: "";
  width: 63px;
  height: 1px;
  background-color: #e3e3e3;
  position: absolute;
  left: 0;
  top: -81%;
}

.product-detail__quantity .input-wrapper::after {
  content: "";
  width: 62px;
  height: 0.5px;
  background-color: #e3e3e3;
  position: absolute;
  right: 0;
  bottom: -80%;
}

.product-detail__actions {
  display: flex;
  gap: 20px;
}

.product-detail__actions button {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 24px;
  height: 48px;
  cursor: pointer;
  padding: 15px;
  display: inline;
}

.product-detail__actions .btn--large {
  padding: 12px 24px;
  border-radius: 16px 0px;
  font-size: 16px;
  line-height: 24px;
  background-color: #221f20;
  color: #f7f8f9;
  border: 1px solid transparent;
}

.btn--large.btn--outline {
  background-color: white;
  color: #221f20;
  border: 1px solid #221f20;
}

.product-detail__actions .btn--large:hover {
  background-color: white;
  color: #221f20;
  border: 1px solid #221f20;
}

.btn--large.btn--outline:hover {
  background-color: #221f20;
  color: #f7f8f9;
}

.product-detail__actions__find a {
  text-decoration: underline;
  font-size: 14px;
  line-height: 16px;
  color: #221f20;
  padding: 20px 0;
}

.product-detail-divider {
  padding-top: 50px;
  border-bottom: 1px solid #eff1f1;
}

.product-detail__tab {
  margin-top: 30px;
}
.product-detail__tab-header {
  height: 40px;
  display: flex;
  color: #6c6d70;
  font-weight: 500;
  font-size: 14px;
  gap: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #eff1f1;
  cursor: pointer;
}

.product-detail__tab .tabs-list {
  position: relative;
}
.product-detail__tab .line-tab {
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #221f20;
  transition: all 0.3s ease;
}

.product-detail__tab-body {
  padding: 25px 0 10px;
  line-height: 24px;
  font-size: 14px;
  word-spacing: 1px;
  color: #353536;
}
.product-detail__tab-body p {
  padding: 7px;
}

.tab-content table b {
  margin-right: 20px;
}

.product-detail__tab-body .tab-content {
  display: none;
  width: 100%;
}

.product-detail__tab-body .tab-content.active {
  display: block;
}

.product-detail__tab-body .tab-content table {
  width: 100%;
  table-layout: fixed; /* Đảm bảo các cột có kích thước cố định */
}

.product-detail__tab .show-more {
  position: relative;
}

.product-detail__tab .show-more img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border-radius: 999px;
}

.product-detail__tab .show-more .inline {
  border-bottom: 1px solid #c9baba;
  box-shadow: 0px 5px 10px #5a5a5a;
}

.product-detail__tab .show-more .image-up {
  display: none;
}

.product-detail__tab-body .tab-content {
  max-height: 100px; /* Chiều cao mặc định khi ẩn */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.product-detail__tab-body .tab-content.expanded {
  max-height: none; /* Mở rộng nội dung khi được thêm class expanded */
}

/* ---product_related--- */

.product-related {
  padding: 40px 0 20px;
  width: 100%;
}

.product-related .page-title {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 32px;
  color: #221f20;
  text-transform: uppercase;
}

.product-related .owl-stage {
  display: flex;
  padding: 20px 0;
}

.trending .title-trending {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

/* ----info---- */

.wrapper_info .breadcrumb_list {
  width: 98%;
  margin: 0 auto;
  padding-left: 3px;
}

.banner-look-book {
  padding: 33px 40px;
}

.banner-look-book img {
  overflow: hidden;
  border-radius: 0px 0px 80px 0;
  margin-right: 10px;
}

.banner-look-book img {
  height: 76.5vh;
}

.banner-look-book img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.banner-look-book .img-banner-look::after {
  position: absolute;
  content: "";
  width: 6%;
  height: 75vh;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0 0 80px;
  bottom: 4.5px;
  right: 70px;
  z-index: -1;
}

/* section-info-lb */
.section-info-lb {
  padding: 30px 0;
}
.section-info-lb .main-info-lb h4,
.section-info-lb .main-info-lb h3 {
  text-align: center;
}

.section-info-lb .main-info-lb h3.text2 {
  padding: 30px 0;
  font-size: 5rem;
  color: #fdf389; /* Màu vàng như ánh mặt trời */
  font-weight: 700;
  letter-spacing: 0.1rem; /* Khoảng cách giữa các chữ cái */
  text-transform: uppercase; /* Chuyển chữ in hoa */

  text-shadow: 0 0 15px rgba(255, 140, 59, 0.8),
    /* Bóng chữ sáng với độ trong suốt */ 0 0 30px rgba(255, 140, 59, 0.6),
    0 0 45px rgba(255, 140, 59, 0.4), 0 0 60px rgba(255, 140, 59, 0.2);
  /* Bóng phản chiếu gần hơn với chữ */
  -webkit-box-reflect: below -30px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  user-select: none;
}

.section-info-lb .main-info-lb p.text3 {
  font-size: 1.3rem;
  padding: 50px 0 40px;
  letter-spacing: 1px;
  line-height: 2.4;
  text-align: justify;
  user-select: none;
}

.trending img.thumb_trending,
.section-info-lb .trending {
  width: 100%;
  padding: 20px 0;
}

.section-info-lb .multi-img-lb img,
.trending img.thumb_trending {
  width: 100%;
  object-fit: cover;
}

.trending img.thumb_trending {
  border-radius: 80px 0;
}

.list-img-lb {
  display: flex;
  gap: 20px;
  width: calc((100% - 20px) / 2);
}

.item-img-lb {
  width: 100%;
  flex-shrink: 0;
}

.item-img-lb img {
  border-radius: 25px;
}
